body{
    background-color: blue;
}
.container{
    display: flex;
    border: 5px red solid;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.card{
    background-color: brown;
    border: 4px solid lightblue;
}
.descript{
    border: 7px dashed purple
}
.spec{
    border: 7px dashed green;
}
.price{
    border: 7px dashed yellow;
}