.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 10px 10px 50px 10px;
    flex: 0 1 500px;
    box-shadow: 0px 0px 5px 5px darkgrey;
}

.descript{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    width: 210px;
    height: 210px;
    align-self: center;
}

.card p{
    padding: 0px 20px 0px 20px;
}

.card h3{
    padding: 0px 10px 0px 10px;
}

.card header{
    text-align: center;
    border: 1px solid lightblue;
}

.spec p{
    font-weight: bold;
}

.price p{
    font-weight: bold;
}

.avalible{
    color: yellow;
    background-color: darkgrey;
}

img+p{
    justify-self: center;
}